{% extends "layout.html" %}

{% block content %}
  <div class="main-container">
    <div class="container">
      {% for name, db, description, query in results %}
      {% set algomuysucio = 'onClickQuery("{}","{}")'.format(db, query) %}

      <div class="query-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h6>{{db}} - {{name}}</h6>
          <button
            class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect play"
          >
            <i class="material-icons">play_arrow</i>
          </button>
        </div>
        <div class="mdl-card__supporting-text mdl-card--border">
          <div class="query-card-content">
            <span>
              {{description}}
            </span>
            <button
              class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect arrow"
            >
              <i class="material-icons">keyboard_arrow_up</i>
            </button>
          </div>
          <div class="query-card-code">
            <span>{{query}}</span>
              {% if name == "Consulta 1" %}
              <form  action="/receptor">
              Ingrese nombre del usuario: <input type="text", name="fname"><br>
              <input type="hidden" name="name", value={{name}}><br>
              <input type="submit" value="Submit">
              </form> 
              {% endif %}
              {% if name == "Consulta 2" %}
              <form  action="/receptor">
              Ingrese nombre del usuario 1: <input type="text", name="name1"><br>
              Ingrese nombre del usuario 1: <input type="text", name="name2"><br>
              <input type="hidden" name="name", value={{name}}><br>
              <input type="submit" value="Submit">
              </form> 
              {% endif %}
              {% if name == "Consulta 3" %}
              <form  action="/receptor">
              Ingrese texto que si o si debería estar.: <input type="text", name="texto"><br>
              <input type="hidden" name="name", value={{name}}><br>
              <input type="submit" value="Submit">
              </form> 
              {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
