{% extends "layout.html" %}
{% block content %}
    <div>
      {% if con == "Consulta1" %}
      <p>{{name}}</p>
      <p>{{con}}</p>
      <pre><code class="json">{{lname}}</code></pre>
      {% endif %}
      {% if con == "Consulta2" %}
      <p>{{con}}</p>
      <pre><code class="json">{{results1}}</code></pre>
      <pre><code class="json">{{results2}}</code></pre>
      {% endif %}
      {% if con == "Consulta3" %}
      <p>{{con}}</p>
      <pre><code class="json">{{results}}</code></pre>
      {% endif %}
      {% if con == "Consulta4" %}
      <p>{{con}}</p>
      <pre><code class="json">{{results}}</code></pre>
      {% endif %}
      {% if con == "Consulta5" %}
      <p>{{con}}</p>
      <pre><code class="json">{{results}}</code></pre>
      {% endif %}
      {% if con == "Consulta6" %}
      <p>{{con}}</p>
      <pre><code class="json">{{results}}</code></pre>
      <form action="mapa.html" method="get">
        <button type="Ver mapa">Submit</button><br>
      </form>
      {% endif %}



    </div>
{% endblock %}
