{% extends "layout.html" %}
{% block content %}
    <div>
      {% if con == "Consulta1" %}
      <p>{{name}}</p>
      <p>{{con}}</p>
      <pre><code class="json">{{lname}}</code></pre>
      {% endif %}
      {% if con == "Consulta2" %}
      <p>{{con}}</p>
      <pre><code class="json">{{results1}}</code></pre>
      <pre><code class="json">{{results2}}</code></pre>
      <form action="/fechas">
      Ingrese fecha inferior: <input type="text" name="fecha1">>
      Ingrese fecha superior: <input type="text" name="fecha2">>
      <input type="hidden" name="results1" value={{results1}}>>
      <input type="hidden" name="results2" value={{results2}}>>
      <input type="submit" value="Submit" >>
      </form>
      <form action="/filtro2">
      Ingrese latitud: <input type="text" name="lat">>
      Ingrese longitud: <input type="text" name="long">>
      <input type="hidden" name="results1" value={{results1}}>>
      <input type="hidden" name="results2" value={{results2}}>>
      <input type="submit" value="Submit" >>
      </form>
      {% endif %}

    </div>
{% endblock %}
